#header-image {
    background-repeat: no-repeat;
}

@media screen and (min-width: 1200px) {
    #header-image {
        background-repeat: no-repeat;
    }
}

@media print {
    #header-image {
        display: none;
    }
}

body{
    background-color: #FFEDEF;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    position: relative;
    overflow: visible;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100%;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.d-shape-outer{
width: 213px;
height: 272px;
background: #f6e2e1;
border: 1px solid #f6e2e1;
border-radius: 10% 100% 90% 0%/0% 100% 80% 10%;
position: absolute;
margin: auto;
margin-top: 17%;
margin-left: 2%;
}

.d-shape-inner{
width: 169px;
height: 220px;
background: #d9b7b1;
border: 1px solid #f6e2e1;
border-radius: 10% 100% 90% 0%/0% 100% 80% 10%;
position: absolute;
margin: auto;
margin-top: 20%;
margin-left: 5%;
}

.d-shape-in-inner{
width: 120px;
height: 155px;
background: #ecc1bf;
border: 1px solid #f6e2e1;
border-radius: 10% 100% 90% 0%/0% 100% 80% 10%;
position: absolute;
margin: auto;
margin-top: 25%;
margin-left: 9%;
}

h1{
font-family: "Monotype Corsiva";
font-weight: normal;
font-size: 45px;
letter-spacing: 0em;
text-align: left;
color: #582828;
position: absolute;
margin-left: 50%;
margin-top: 15%;
z-index: 2;
}

h2{
position: absolute;
font-family: 'Constantia';
font-weight: normal;
font-size: 25px;
text-align: left;
color: #582828;
margin-top: 53%;
margin-left: 38%;
}

.text{
font-family: 'Constantia';
font-weight: normal;
font-size: 15px;
text-align: left;
position: absolute;
color: #582828;
margin-top: 62%;
margin-left: 35%;
}

a{
text-decoration: underline;
color: #582828;
}

.rect{
width: 600px;
height: 610px;
background: #fbfbfb;
box-shadow: 0px 3px 6px rgba(249, 240, 240, 0.5);
margin: auto;
position: absolute;
top: 0;
bottom: 0;
margin-left: 30%;
}

#line{
width: 212px;
height: 0px;
background: transparent;
border: 4px solid #d89090;
opacity: 0.7;
position: absolute;
margin-left: 48%;
margin-top: 22%;
z-index: 2;
}

#pink-btn{
    width: 100px;
    height: 40px;
    border-radius: 35px;
    background: #f0c0c0;
    opacity: 0.85;
    box-shadow: 0px 3px 6px rgba(255, 255, 255, 0.35);   
    position: absolute; 
    border: none;
    font-family: Constantia;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
    color: #582828;
    margin-top: 70%;
    margin-left: 30%;
    cursor: pointer;
}

#pink-btn2{
    width: 100px;
    height: 40px;
    border-radius: 35px;
    background: #f0c0c0;
    opacity: 0.85;
    box-shadow: 0px 3px 6px rgba(255, 255, 255, 0.35);
    position: absolute;
    border: none;
    font-family: Constantia;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
    color: #582828;
    margin-top: 70%;
    margin-left: 50%;
    cursor: pointer;
}

h3{
font-family: "Monotype Corsiva";
font-weight: normal;
font-size: 40px;
letter-spacing: 0em;
text-align: left;
color: #582828;
position: absolute;
margin-top: 80%;
margin-left: 45%;
}

#underline2{
width: 128px;
height: 0px;
background: transparent;
border: 4px solid #d89090;
opacity: 0.7;
position: absolute;
margin-top: 58%;
margin-left: 37%;
}

#underline3{
width: 128px;
height: 0px;
background: transparent;
border: 4px solid #d89090;
opacity: 0.7;
position: absolute;
margin-left: 42%;
margin-top: 88%;
}

.text2{
font-family: Constantia;
font-weight: normal;
font-size: 20px;
text-align: left;
color: #582828;
margin-top: 91%;
margin-left: 30%;
}
